.castom-button{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 54px;
        color: #FFFFFF;
        background: #254289;
        border-radius: 5px;
        margin-bottom: 25px;
        border:none;
        cursor: pointer;
}