
.menu {
    display: grid;
    grid-auto-flow: row;

    grid-template-rows: repeat(3, max-content);

    padding: 27px 34px;

    position: relative;

    &__logo {
        width: 100%;
        height: 84px;

        background: url('../components/icons/logo.svg') no-repeat;
        background-size: contain;
    }

    &__separator {
        width: 100%;
        height: 1px;

        background: #E7ECF7;

        position: absolute;

        top: 130px;
        left: 0%;
    }

    &__link-wrappers {
        display: grid;
        grid-auto-flow: row;

        margin-top: 41px;

        gap: 26px;
    }

    &__link {
        display: grid;
        grid-auto-flow: column;

        grid-template-columns: repeat(2, max-content);

        cursor: pointer;

        &-text {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;

            color: #A3AED0;
        }

        &.active {
            position: relative;

            &::after {
                content: '';
                position: absolute;

                height: 100%;
                width: 4px;

                background: #F0C988;
                border-radius: 25px;

                top: 0;
                right: -34px;
            }
            .my-projects__menu__link-text {
                color: #254289;


            }
        }
    }
}
